header {
  text-align: center;
}


ul.NavList li{
  float: left;
  display: inline;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 5%;
  font-family: "arial";
  font-size: 1.5em;
}

_:-moz-tree-row(hover), html {
  scroll-behavior: smooth;/*for firefox*/
}

.smallTitle {
  margin-top: 5%;
}



